.all {
    background-image: url(https://res.cloudinary.com/df0stqosw/image/upload/v1622664123/Soul%20Beach/dario-bronnimann-hNQwIirOseE-unsplash_1_cef9kp.jpg);
    background-size: cover;
    height: 2280px;
    position: relative;
}

.constellation {
    // padding: 40px;
    opacity: 0;
}

.constellation:hover {
    opacity: 1;
    transition-duration: 1s;
}

#one {
    position: absolute;
    top: 40px;
    left: 80px;
}

#two {
    position: absolute;
    top: 200px;
    left: 450px;
}

#three {
    position: absolute;
    top: 120px;
    left: 800px;
}