.all {
    background-image: url(https://res.cloudinary.com/df0stqosw/image/upload/v1622664123/Soul%20Beach/dario-bronnimann-hNQwIirOseE-unsplash_1_cef9kp.jpg);
    background-size: cover;
    height: 2280px;
    position: relative;
}

.constellation {
    // padding: 40px;
    opacity: 0;
    transition-duration: 0.5s;
}

.constellation:hover {
    opacity: 1;
    transition-duration: 2s;
}

#one {
    position: absolute;
    top: 40px;
    left: 80px;
}

#two {
    position: absolute;
    top: 200px;
    left: 450px;
}

#three {
    position: absolute;
    top: 120px;
    left: 800px;
}

#circle {
    position: absolute;
    transform: translate(-50%, -50%);
    // height: 35px;
    // width: 35px;
    // border-radius: 50%;
    // border: 2px solid white;
    img {
        height: 100px;
        z-index: 20;
    }
}

#dancing {
    display: none;
}

